<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="btn disabled navbar-brand" href="">Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(Página atual)</span></a>
      <a class="nav-item nav-link" href="/all">Posts</a>
      <a class="nav-item nav-link" href="/project">Projetos</a>
      <a class="nav-item nav-link" href="/noticia">Noticias</a>
      <a class="nav-item nav-link" href="/admin/posts">Admin</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="/admin/posts">Posts</a>
      </div>
        
      <% if (locals.loggedUser) { %>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink">
              <%= locals.loggedUser.email %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/auth/logout">Sair</a>
            </div>
          </li>
        </ul>
      <% } %>

        </div>
      </div>
    </div>
  </div>
</nav>
  