<nav class="navbar navbar-light bg-light">
  <ul>
    <li>
        <a class="btn disabled navbar-brand" href="#">Blog</a>
    </li>
    <li>
        <a class="navbar-brand" href="/">Home</a>
    </li>
    <li>
        <a class="navbar-brand" href="/all">Posts</a>
    </li>
  </ul>
  

</nav>